@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

/* Keyframes */

@keyframes loading-logo {

  35% {
    width: 150px;
  }

  60%,
  70% {
    width: 200px;
  }

  85% {
    display: none;
    opacity: 100;
  }

  100% {
    width: 1px;
    display: none;
    opacity: 0;
  }
}

@keyframes loading-screen {

  0%,
  10% {
    height: 100vw;
    border-radius: 0;
    width: 100vw;
  }

  12% {
    border-radius: 100vh;
  }

  50%,
  100% {
    height: 0;
    width: 0;
    display: none;
  }
}

@keyframes modal-close {
  0% {
    clip-path: circle(70.7% at 50% 50%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    visibility: visible !important;
    z-index: 1300;
  }

  20% {
    visibility: visible !important;
    z-index: 1300;
  }

  40% {
    clip-path: circle(75px at 50% 50%);
    transform: translateX(0);
  }

  60% {
    clip-path: circle(75px at 50% 50%);
    transform: translateX(150px);
    animation-timing-function: ease-out;
  }

  100% {
    clip-path: circle(75px at 50% 50%);
    transform: translateX(60vw);
    position: fixed;
    inset: 0;
    margin: auto;
    overflow: hidden; 
    visibility: hidden;
  }
}

@keyframes modal-open {
  0% {
    clip-path: circle(75px);
    transform: translateX(-60vw);
    position: fixed;
    inset: 0;
    margin: auto;
  }

  40% {
    transform: translateX(-150px);
    animation-timing-function: ease-in;
  }

  60% {
    clip-path: circle(75px);
    transform: translateX(0);
  }

  80% {
    clip-path: circle(100vw);
    position: fixed;
    inset: 0;
    margin: auto;
  }

  100% {
    clip-path: none;
    transform: translateX(0);
    position: fixed;
    inset: 0;
    margin: auto;
  }
}

@keyframes modal-close-mobile {
  0% {
    clip-path: circle(70.7% at 50% 50%);
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    visibility: visible !important;
    z-index: 1300;
  }

  20% {
    clip-path: circle(75px);
  }

  40% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(50px);
  }

  100% {
    clip-path: circle(75px at 50% 50%);
    transform: translateX(60vw);
    position: fixed;
    inset: 0;
    margin: auto;
    overflow: hidden;
    visibility: hidden;
    z-index: 1300;
  }
}

@keyframes modal-open-mobile {
  0% {
    clip-path: circle(75px);
    transform: translateX(-60vw);
    position: fixed;
    inset: 0;
    margin: auto;
  }

  40% {
    transform: translateX(-50px);
  }

  60% {
    clip-path: circle(75px);
    transform: translateX(0);
  }

  80% {
    clip-path: circle(100vw);
  }

  100% {
    clip-path: none;
    transform: translateX(0);
    position: fixed;
    inset: 0;
    margin: auto;
  }
}

/* Preload */

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(./images/logos/Small.svg);
}

/* Variables */

:root {
  --color-gray: #777777;
  --color-blue: #366EFF;
  --color-violet: #9155F6;
  --color-light-violet: #eee5fe;
  --color-dark-violet: #7225f3;
}

/* Layout */

html, body {
  margin: 0;
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

button,
a {
  font-family: "Outfit", sans-serif;
  border: none;
}

button:focus,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

img {
  pointer-events: none;
}

#no-overflow {
  overflow: hidden;
}

section {
  padding: 6.5vw;
}

.max-height {
  height: 100vh;
  min-height: 650px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

/* General */

p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  margin: unset;

  font-family: 'Outfit', sans-serif;

  color: #00113D;

  cursor: default;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 12px 24px;
  border-radius: 40px;

  background-color: var(--color-violet);
  box-shadow: 0px 4px 24px rgba(145, 85, 246, 0.25);

  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;

  color: #FFF;

  transition: .3s;

  cursor: pointer;
}

.button:hover {
  background-color: var(--color-dark-violet);
  box-shadow: 0px 4px 24px rgba(114, 37, 243, 0.30);

  color: #FFF;
  text-decoration: none;

  transform: scale(1.02);
}

.title {
  font-weight: 700;

  color: #366EFF;
}

.no-scroll {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

#blue-stroke, #light-blue-stroke:hover {
  color: var(--color-blue);
  stroke: var(--color-blue);
}

#light-blue-stroke {
  color: #6B95FF;
  stroke: #6B95FF;
}

.white {
  color: #FFF;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  animation: modal-open 1.5s ease-in;
  background-color: #E0E9FF !important;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1300;
  margin: auto;
  inset: 0px;
  animation-fill-mode: both;
}

#modal-hidden {
  animation: modal-close 1.5s ease-in;
  background-color: #E0E9FF !important;
  visibility: visible;
  animation-fill-mode: both;
}

#modal-hidden .carousel-indicators,
#modal-hidden .carousel-control-prev,
#modal-hidden .carousel-control-next {
  visibility: hidden;
}

/* Greeting */

.background-image {
  background-image: url(./images/Background.jpg);
  background-size: cover;
  position: relative;
}

.loading-screen {
  position: absolute;
  inset: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  margin: auto;
  
  background-color: #FFF;
}

.loading-animation {
  animation: loading-screen .8s linear forwards 2.2s;
}

.loading-logo {
  position: absolute;
  inset: 0;
  z-index: 600;

  width: 150px;
  margin: auto;
  
  animation: loading-logo 2s ease-in forwards .5s;
}

.wave {
  position: absolute;
  bottom: -2px;
  z-index: 10;

  width: 100vw;
  height: 40vw;
  
  background-image: url(./images/Wave.svg);
  background-size: cover;
}

.blur {
  position: absolute;
  z-index: 0;

  width: 100vw;
  height: 100vh;
  min-height: 650px;

  background-color: #FFF2;
  backdrop-filter: blur(5px);
}

.logo-container {
  position: absolute;
  top: 2rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  padding: .5rem 0;
  border-radius: 3rem 0 0 3rem;

  background-color: #FFF;
}

.logo-container img {
  height: 2rem;
  margin-right: 8px;
}

.information-container {
  position: absolute;
  top: 16vh;

  width: 22rem;
  left: 6rem;
}

.name-card {
  display: flex;
  align-items: center;

  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.15);

  background-color: #FFF;
}

.name-card img {
  height: 4.5rem;
}

.name-card div {
  margin-left: 2rem;
}

.name-card div p {
  margin-bottom: .5rem;

  font-weight: 400;
  font-size: 1.2rem;

  color: var(--color-gray);
}

.ocupation-card {
  display: flex;
  align-items: center;

  padding: 1rem 2rem;
  border-radius: 1.5rem;
  gap: 2rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.15);

  background-color: #FFF;
}

.ocupation-card:first-of-type {
  margin-bottom: 1rem;
}

.ocupation-card img {
  height: 3rem;
}

.ocupation-card h4 {
  margin: unset;

  font-weight: 500;
}

/* About */

.about-container {
  display: grid;
  grid-template-columns: minmax(375px, 400px) minmax(50vw, 975px);
  grid-gap: 64px;
}

.user-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-information p {
  font-size: 1.25rem;
  line-height: 28px;
  color: #00113D;
}

.interest {
  background-color: #FFF;
  box-shadow: 0px 2px 1rem rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  margin-bottom: 8px;
}

.interest img {
  width: 2.5rem;
}

.interest-container {
  display: flex;
  gap: 1rem;
}

/* User Card */

.user-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  padding: 2rem;
  box-shadow: 0px 2px 2rem rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
}

.profile-photo {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-weight: 600;
  text-align: center;
}

.user-ocupation {
  text-align: center;
  color: var(--color-gray);
}

.user-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  background-color: #9155F6;
  box-shadow: 0px 2px 1rem rgba(145, 85, 246, 0.25);
  border-radius: 18px;
}

.user-links {
  display: flex;
  gap: 12px;
}

.user-links * {
  width: 3rem;
  height: 3rem;
}

.user-links a {
  cursor: pointer;
  transition: .3s;
}

.user-links a:hover {
  transform: scale(1.1);
}

/* Skills */

.skills {
  display: flex;
  justify-content: space-between;

  padding: 32px 6.5vw;

  background-image: url(./images/SmallGradient.png);
  background-size: cover;
}

.skills-title {
  color: #FFF;
  font-size: 3rem;
  font-weight: 700;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.skills-container div * {
  color: #FFF;
  font-family: 'Outfit', sans-serif;
}

.skills-container ul {
  width: fit-content;
  margin: unset;
  margin-top: 12px;
}

.skills-container ul li {
  white-space: nowrap;
}

.skills-group {
  display: flex;
  gap: 2rem;
}

.skills-title-cont img {
  width: 4rem;
}

/* Projects */

.projects-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #80A3FF;
  position: relative;
}

.project-filter {
  display: flex;
  position: absolute;
  bottom: -3px;
  right: 0;
}

.project-filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  color: #80A3FF;
  font-weight: 500;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: 3px solid #80A3FF;
  transition: .2s;
}

.project-filter button:hover {
  color: #366EFF;
}

#selected {
  font-weight: 700;
  color: #366EFF;
  border-color: #366EFF;
}

/* Projects */

.projects-container {
  /* overflow: hidden; */
  /* Activar si se usa overflow de projects */
}

.projects-scroll {
  display: grid;
  grid-auto-columns: calc((86vw - 48px)/3);
  grid-gap: 1.5rem;
  grid-auto-flow: column;

  transition: .7s ease;
}

.pagination-button {
  position: absolute;
  top: calc(50% - 22px);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 50%;

  background-color: transparent;

  transition: .5s;
}

.right {
  right: -45px;
}

.left {
  left: -45px;
}

.pagination-button:hover {
  background-color: #e5edff;
}

.pagination-button * {
  transition: .5s;
}

.pagination-button:hover * {
  transform: scale(1.1);
}

/* Project Card */

.project-card {
  position: relative;
  border-radius: 16px;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-position-x: center;
  background-size: cover;
  transition: .5s;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 25%);
}

.project-image {
  position: absolute;
  height: 100%;
}

.rounded-square {
  background-image: url(./images/RoundedSquare.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6.25rem;
  width: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/2;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
  transition: .5s;
  bottom: -100%;
}

.project-card:hover .gradient {
  bottom: 0;
}

.gradient p {
  color: #F1F1F1;
  position: absolute;
  top: 66%;
  padding: 0 18px;
}

.project-information-container {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: .5s;
}

.project-card:hover .project-information-container {
  bottom: calc(((86vw - 48px)/3) - 100px);
}

.project-type {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 35%);

  background-color: #FFF;
}

.project-information {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-information * {
  color: #F1F1F1;
}

.project-information h2 {
  font-weight: 700;
}

.project-actions {
  position: absolute;
  bottom: 18px;

  width: 100%;
  padding: 0 6px;
}

.project-btn {
  background-color: var(--color-violet);
  border-radius: 25px;
  color: #FFF;
  width: 40px;
  max-width: 125px;
  height: 40px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgb(145 85 246 / 30%);
}

.project-btn:hover, #hover {
  background-color: var(--color-dark-violet);
  box-shadow: 0px 4px 24px rgb(114 37 243 / 30%);
  width: 90%;
  transform: scale(1.02);
}

.project-btn-cont {
  width: 30%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.project-btn svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s;
  color: #FFF;
}

.project-btn:hover svg, #hover svg {
  left: 10px;
  transform: translateX(0);
}

.project-btn span {
  position: absolute;
  left: -30%;
  color: #FFF;
  transform: translateX(150px);
  transition: .5s;
  opacity: 0;
  font-weight: 500;
}

.project-btn:hover span, #hover span {
  transform: translateX(0);
  left: 37%;
  opacity: 1;
  padding-left: 3px;
}

.carousel-cont, .carousel-inner, .carousel-item {
  height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.carousel-control-prev-icon {
  background-image: url(./images/icons/BlueChevronLeft.svg);
  width: 30px;
  height: 30px;
}

.carousel-control-next-icon {
  background-image: url(./images/icons/BlueChevronRight.svg);
  width: 30px;
  height: 30px;
}

.carousel-indicators li {
  background-color: #ccdaff;
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: var(--color-blue);
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 10;
}

.device-selector {
  position: absolute;
  top: 12px;
  right: calc(50% - 45px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90px;
  height: 30px;
  margin: unset auto;
  border-radius: 15px;
  padding: 2px;
  box-shadow: 0px 1px 10px rgb(20 20 20 / 20%);

  background-color: hsl(223, 100%, 90%);
}

.device-selector svg {
  z-index: 10;
  cursor: pointer;
  transition: .5s;
}

.option-selected {
  position: absolute;
  left: 0;

  height: 26px;
  width: 40%;
  margin: 0 2px;
  border-radius: 15px;

  background-color: #FFF;

  transition: .5s;
}

#right {
  transform: translateX(50px);
}

#left {
  transform: unset;
}

.image-slider {
  margin: auto;
  position: absolute;
  inset: 0;
  width: auto;
  height: 100%;
}

img[class="image-slider"] {
  max-height: 750px;
}

img[name="vertical"] {
  max-height: 750px;
}

.prototype-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prototype-window {
  margin: auto;
  width: 1037px;
  height: auto;
  z-index: 10;
}

.prototype-content {
  overflow-y: scroll;
  margin: auto;
  width: 996px;
  height: 586px;
  z-index: 1;
  transform: translateY(13px);
}

.prototype-content::-webkit-scrollbar {
  width: 10px;
}

.prototype-content::-webkit-scrollbar-track {
  background: #F0F0F0;
}

.prototype-content::-webkit-scrollbar-thumb {
  background-color: #366EFF;
  border-radius: 10px;
  border: 2px solid #F0F0F0;
}

.fixed {
  overflow: hidden;
}

.scrollable-alert {
  position: absolute;
  top: 18px;
  display: flex;
  align-items: center;

  padding: 4px 12px;
  background-color: #FFF;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgb(20 20 20 / 20%);
}

.scrollable-alert > p {
  font-size: 0.9rem;
  color: var(--color-blue);
  font-weight: 500;
  margin-left: 6px;
}

.prototype-content > img {
  width: 100%;
  height: auto;
  position: relative;
}

/* Contact */

.contact {
  background-image: url(./images/Gradient.png);
  background-size: cover;
  height: 50%;
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 64px 6.5vw 96px 6.5vw;
}

.social-cont {
  width: 50%;
  margin: 96px 0;
  max-width: 750px;
}

.contact-card {
  position: absolute;
  z-index: 100;
  top: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;

  width: calc(100% - 13vw);
  min-width: 780px;
  max-width: 1500px;
  margin: 0 6.5vw;
  padding: 32px;
  border-radius: 32px;

  background-color: #FFF;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}

.contact-card h2 {
  margin-bottom: 24px;

  font-weight: 700;
}

.social-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 35px;
  cursor: pointer;
  transition: .3s;
}

.social-btn img {
  width: 100%;
}

.social-btn:hover {
  transform: scale(1.1);
}

/* Footer */

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 450px;
}

footer div {
  position: relative;
  top: 85px;
}

footer p {
  text-align: center;
  color: #BFBFBF;
}

.go-up-button {
  position: absolute;
  bottom: 12px;
  right: 24px;

  width: 50px;
  height: 50px;

  color: var(--color-violet);

  transition: .2s;
}

.go-up-button:hover {
  color: var(--color-dark-violet);
}

.go-up-button svg {
  transform: scale(1.5);
}

/* Large Screens */

@media screen and (min-width: 2000px) {

  section {
    padding: 5vw 10vw;
  }

  .information-container, .logo-container {
    transform: scale(1.3);
  }

  .wave {
    bottom: -50px;
  }

  .information-container {
    top: 25vh;
    left: 200px;
  }

  .about-container {
    grid-gap: 120px;
  }

  img[class="image-slider"] {
    inset: 0;

    height: 90%;
    margin: auto;
  }

  .project-bg {
    height: 800px;
  }

  .user-information div {
    max-width: 1000px;
  }

  .skills {
    margin: 0 10vw;
    padding: 32px 64px;
    border-radius: 24px;
  }

  .projects-scroll {
    grid-auto-columns: calc((80vw - 48px)/3);
  }

  .project-card:hover .project-information-container {
    bottom: calc(((78vw - 48px)/3) - 100px);
  }

  .project-type {
    top: 28px;
    right: 28px;

    width: 64px;
    height: 64px;
    border-radius: 32px;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 35%);
  }

  .project-type img {
    width: 38px;
  }

  .project-information-container {
    transform: scale(1.2);
    bottom: 28px;
    left: 28px;
  }

  .gradient p {
    padding: 0 18px;
  }

  .project-btn {
    width: 48px;
    height: 48px;
  }
}

/* Small Size PC */

@media screen and (max-width: 1100px) and (min-width: 992px) {
  html {
    font-size: 15px;
  }

  section {
    padding: 4.5vw;
  }

  .skills-group {
    gap: 1rem;
  }

  .skills-container {
    gap: 2.5rem;
  }

  .user-information p {
    font-size: 1rem;
  }

  .projects-scroll {
    grid-auto-columns: calc((91vw - 2rem)/3);
    grid-gap: 1rem;
  }
}

/* Large Size Tablet */

@media screen and (max-width: 991px) {
  .background-image {
    background-image: url(./images/VerticalBackground.jpg);
  }

  /* About */

  .about-container {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 42px;
  }

  .about-container p {
    font-size: 1rem;
  }

  .user-information {
    max-width: 350px;
  }

  .interests-tablet {
    margin-top: 32px;
  }

  .interest img {
    width: 3rem;
  }

  /* Skills */

  .skills, .contact {
    background-image: url(./images/SquareGradient.png);
  }

  .skills, .skills-container {
    flex-direction: column;
  }

  .skills-title {
    font-size: 3rem;
  }

  .skills-title-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;

    height: fit-content;
    margin-bottom: 24px;
  }

  .skills-title {
    margin: unset;
    margin-left: 16px;
  }

  .skills-container {
    gap: 1rem;
  }

  .skills-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    width: -webkit-fill-available;
    height: 36px;
    padding: 6px 12px;
    border-radius: 25px;

    background-color: #FFF;
  }

  .skills-group p {
    white-space: nowrap;
  }

  .skills-container div * {
    color: #FFF;
  }

  .skills-group-cont * {
    color: var(--color-blue) !important;
  }
  
  .skills-container h2 {
    color: #FFF;
    margin-bottom: .5rem;
  }

  .expand-skills-btn {
    height: 36px;
    aspect-ratio: 1/1;
    border-radius: 18px;
    margin-left: 0.75rem;
    
    background-color: #FFF;

    font-weight: 600;
  }

  .expand-skills-btn:active {
    background-color: #e9e9e9;
  }

  .skills-group-cont {
    display: flex;
    justify-content: space-between;
  }

  button[class="expand-skills-btn mt-8"] {
    width: 39px;
  }

  /* Projects */

  .projects {
    height: auto;
    padding: unset;
  }

  .projects-header {
    margin-bottom: unset;
    margin: 6.5vw 6.5vw 0 6.5vw;
  }

  .projects-scroll {
    grid-auto-columns: 51vw;
    overflow-x: scroll;
    padding: 6.5vw;
    padding-bottom: 3vw;
  }

  .project-card .project-information-container,  .project-card:hover .project-information-container{
    bottom: calc(51vw - 100px);
  }

  .project-card .gradient {
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%);
  }

  .projects-container {
    padding-bottom: 3.5vw;
  }
  
  .project-btn {
    background-color: var(--color-violet);
    box-shadow: none;
    width: 90%;
  }
  
  .project-btn svg {
    left: 10px;
    transform: translateX(0);
  }
  
  .project-btn span {
    transform: translateX(0);
    left: 37%;
    opacity: 1;
    padding-left: 3px;
  }

  .image-slider {
    inset: 0;

    width: 95%;
    height: auto;
    margin: auto;
  }

  .project-bg {
    width: 30rem;
  }

  .prototype-content-cont * {
    transform: scale(1.5);
  }
 
  .prototype-content {
    width: 27rem;
    height: 16rem;
    transform: translateY(0.475rem) scale(1.5);
  }

  .prototype-content img {
    transform: scale(1);
  }

  .prototype-window {
    width: 28.125rem;
  }

  .scrollable-alert, .close-btn {
    top: 56px;
  }

  #modal {
    animation: modal-open-mobile 1s ease-in;
  }

  #modal-hidden {
    animation: modal-close-mobile 1s ease-out;
  }
}

/* Medium Size Tablet */

@media screen and (max-width: 800px) {

  /* Greeting */

  .wave {
    height: 70vw;
  }

  /* About */

  .about {
    height: auto;
  }

  .about-container {
    display: block;
  }

  .user-card {
    width: 23rem;
  }

  .user-card-cont {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    margin-bottom: 48px;
    background-image: url(./images/UserCardBG.png);
    background-size: cover;
  }

  .user-information {
    max-width: unset;
  }

  .user-information p {
    font-size: 1.1rem;
  }

  .view-more-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 6px;
    color: var(--color-blue);
    background-color: transparent;
  }

  .interest-container {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 8px;
  }

  .interest {
    box-shadow: 0px 2px 5px rgb(0 0 0 / 15%);
  }

  /* Projects */

  .projects {
    height: auto;
    padding: unset;
  }

  .projects-header {
    margin: unset;
    border: none;
    flex-direction: column;
    padding: 6.5vw 6.5vw 0 6.5vw;
  }

  .project-filter {
    position: initial;
    gap: 12px;
  }

  .project-filter button, .project-filter button:hover {
    padding: 4px 12px;
    border: none;
    border-radius: 30px;
    color: #9155F695;

    background-color: #9155F615;

    transition: .1s;
  }

  #selected {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.10);

    color: var(--color-violet);
    background-color: #9155F615;
  }

  .projects-scroll {
    grid-auto-columns: 65vw;
  }

  .prototype-content-cont * {
    transform: scale(1);
  }

  .project-card .project-information-container,  .project-card:hover .project-information-container{
    bottom: calc(65vw - 100px);
  }

  .image-slider {
    inset: 0;

    width: 95%;
    height: auto;
    margin: auto;
  }

  .project-bg {
    width: 30rem;
  }

  .prototype-content {
    width: 27rem;
    height: 15.937rem;
    transform: translateY(0.375rem);
  }

  .prototype-window {
    width: 28.125rem;
  }

  /* Contact */

  .contact {
    height: unset;
    margin: unset;
    padding: 24px 5vw;
  }

  .contact-card h2, .contact h1 {
    white-space: nowrap;
  }

  .social-cont {
    width: 80%;
    margin: 48px 0;
  }

  .contact-card {
    width: 90vw;
    min-width: unset;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .contact-card p {
    margin-bottom: 24px;
    text-align: center;
  }

  .button {
    display: block;
    width: 250px;
  }

  /* Footer */

  footer {
    height: 200px;
  }

  footer div {
    top: -10px;
  }
}

/* Small Height Screens */

@media screen and (max-height: 675px) {

  html {
    font-size: 15px;
  }

  .information-container {
    transform: scale(.8);
    top: 10vh;
    left: 5vh;
  }
}

/* Small Size Tablet */

@media screen and (max-width: 600px) {

  html {
    font-size: 14px;
  }

  .projects-scroll {
    grid-auto-columns: 75vw;
  }

  .project-card .project-information-container, .project-card:hover .project-information-container {
    bottom: calc(75vw - 100px);
  }
}

/* Large Size Phone */

@media screen and (max-width: 560px) {

  html {
    font-size: 13px;
  }
}

/* Medium Size Phone */

@media screen and (max-width: 460px) {

  html {
    font-size: 12px;
  }

  .information-container {
    left: 3rem;
  }

  .logo-container img {
    height: 2.5rem;
  }

  .skills-group {
    grid-gap: 1rem;
  }

  .projects-scroll {
    grid-auto-columns: 80vw;
  }
  
  .project-information {
    justify-content: unset;
  }

  .project-card .project-information-container, 
  .project-card:hover .project-information-container {
    bottom: calc(80vw - 85px);
  }

  .project-type img {
    width: 24px;
  }

  .project-btn svg {
    width: 20px;
    height: 20px;
  }
  
  .project-btn-cont {
    width: 32%;
  }

  .rounded-square img {
    width: 40px;
  }
}

@media screen and (max-width: 400px) {
  .skills-group[tabindex="0"] p:last-of-type {
    display: none;
  }

  .skills-group[tabindex="0"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small Size Phone */

@media screen and (max-width: 360px) {
  .information-container {
    left: 2rem;
  }

  .prototype-window {
    width: 24.125rem;
  }

  .prototype-content {
    width: 23.25rem;
    height: 13.7rem;
    transform: translateY(0.25rem);
  }

  .project-filter, .project-btn span {
    display: none;
  }

  .project-btn, .project-btn:hover {
    background-color: var(--color-violet);
    border-radius: 25px;
    color: #FFF;
    width: 40px;
    max-width: 125px;
    height: 40px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgb(145 85 246 / 30%);
  }

  .projects-scroll {
    grid-auto-columns: 110vw;
  }

  .project-card .project-information-container, 
  .project-card:hover .project-information-container {
    bottom: calc(110vw - 85px);
  }
}

/* Desktop */

@media screen and (min-width: 770px) {
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #F0F0F0;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #366EFF;
    border-radius: 10px;
    border: 2px solid #F0F0F0;
  }
}