html, body {
  height: 100%;
  margin: 0;
  max-width: inherit;
  overflow-x: hidden;
  background-color: #191970;
}

button:focus, a:focus{
  outline: none!important;
  box-shadow: none!important;
}

img{
  pointer-events: none;
}

ul {
  list-style-type: none;
}

#preload{
  display: none;
}

.wrapper {
  min-height: 100%; 
}

.bg-white{
  background-color: #FFFF;
}

.white{
  color: #FFFF;
}

.bg-1{
  background-color: #191970;
}

.bg-2{
  background-color: #387AC4;
}

.bg-3{
  background-color: #212529;
}

.bg-4{
  background-color: #8FE1A1;
}

.bg-5{
  background: linear-gradient(180deg, #191970,#387AC4);
}

.bg-6{
  background-color: #FF7342;
}

.bg-7{
  background-color: #DA70D6;
}

.bg-8{
  background: linear-gradient(-30deg, #ff7f2a, #ffa22a);
  background-repeat: no-repeat;
  
}

.co-1{
  color: #191970;
}

.co-2{
  color: #387AC4;
}

.co-3{
  color: #37BFA7;
}

.co-4{
  color: #8FE1A1;
}

.co-7{
  color: #D3D2DA;
}

/* .circle{
  width: 240%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  bottom: 500px;
  left: 180%;
} */

.info-cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-right: 50px;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  height: 70%;
}

.react-slideshow-container, .react-slideshow-fade-wrapper, .react-slideshow-fade-images-wrap, .react-slideshow-fade-images-wrap div{
  height: 100%;
}

.each-fade{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  left: 0;
  width: auto;
  height: 100%;
  transform: scale(1.2);
}

.carousel-item{
  background-color: #DEDEDE;
  height: 100%;
}

.carousel-inner{
  height: 100%;
}

#modal, #modal div{
  background-color: #DEDEDE!important;
}

.close-gallery-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

/* .each-fade div{
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #dddddd;
} */

.default-nav{
  margin: 10px;
}

.image-container{
  background-color: #dddddd;
  width: 100%;
  height: 100%;
}

.image-container img{
  background-color: #dddddd;
  width: 100%;
  height: 100%;
}

.card{
  border-radius: 20px;
}

.info-cont p{
  font-size: 1.2vw;
  /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Work Sans', sans-serif;
}

.side{
  width: 80%;
  height: 65%;
  border-top-left-radius: 65%;
  border-bottom-left-radius: 65%;
  padding-left: 35%;
  padding-right: 0px;
}

.title{
  padding-bottom: 50px;
}

/* .side img{
  border-radius: 20px;
} */

.clip{
  clip-path: polygon(0 0,100% 0,100% 80%,0 97%);
}

.clip2{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

.clip3{
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 30% 100%);
}

.proyect-card{
  height: 100%;
  width: 25%;
  border-radius: 10px;
}

.proyect-btn{
  background-color: #F9A826;
  border-width: 2px;
  border-radius: 25px;
  border-color: #F9A826;
  color: #FFF;
  width: 70px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s, border-radius 1.5s;
  position: relative;
}

.proyect-btn:hover{
  background-color: #F9A8264D;
  border-radius: 5px 25px 25px 5px;
  border-color: #F9A826;
  color: #F9A826;
  width: 100%;
  height: 40px;
}

.proyect-btn-cont{
  width: 30%;
  display: flex;
  justify-content: center;
}

.proyect-btn svg{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s;
  color: #FFF;
}

.proyect-btn:hover svg{
  left: 10px;
  transform: translateX(0);
  color: #F9A826;
}

.proyect-btn p{
  position: absolute;
  left: -30%;
  transform: translateX(50%);
  transition: all .5s, display 2s;
  display: none;
  opacity: 0;
  color: #191970;
}

.proyect-btn:hover p{
  transform: translateX(0);
  color: #F9A826;
  left: 37%;
  display: inline;
  opacity: 1;
}

.proyect-card-cont{
  min-height: 75%;
}

.slider{
  height: 90%;
  width: 80%;
  border-radius: 20px;
  box-sizing: content-box;
}

.slider img {
  border-radius: 20px;
  height: 100%;
}

.slider div {
  border-radius: 20px;
  width: 100%;
}

.slider-items{
  height: 100%;
  display: flex;
  justify-content: center;
}

.slider-cont{
  height: 100%;
}

.min{
  min-height: 100%;
}

.legend p {
  color: gray;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.br{
  /* border-right-color: rgb(88, 88, 88); */
  border-right-width: 1px;
}

.contact{
  height: 50%;
  position: relative;
  border-top: white 3px solid;
}

.contact-btn{
  background-color: transparent;
  border-width: 2px;
  border-radius: 25px;
  border-color: #F9A826;
  color: #F9A826;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  width: 30%;
  transition: all .5s, border-radius 1.5s;
}

.contact-btn:hover{
  background-color: #F9A826;
  border-width: 2px;
  border-radius: 5px;
  border-color: #F9A826;
  color: #FFFF;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 20px;
  width: 35%;
}

.contact-card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: absolute;
  bottom: -15vh;
  padding: 1rem;
}

.contact-title{
  font-weight: 700;
  letter-spacing: 2px;
}

.social-btn{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.social-cont{
  width: 50%;
  margin-bottom: 15vh;
}

.box{
  box-sizing: border-box;
}

.responsive-cont{
  height: 100%;
}

.max-height{
  height: 100%;
}

.gallery-count{
  position: fixed;
  top: 10px;
}

.cv-btn{
  color: #FF8D2A;
  font-family: 'Work Sans';
  font-size: 25px;
  padding: 0;
  transition: all 1s;

}

.cv-btn:hover{
  color: #ff4c38;
  font-family: 'Work Sans';
}

.cv-btn-line{
  width: 40px;
  height: 2px;
  background-color: #FF8D2A;
  position: absolute;
  right: -10px;
  bottom: -2mm;
  transition: all 1s, right .5s;
}

.cv-btn-cont{
  position: relative;
  display: inline;
}

.cv-btn-cont:hover .cv-btn-line{
  width: 100%;
  height: 2px;
  background-color: #ff4c38;
  position: absolute;
  right: 0;
}

.cv-btn-cont-mobile{
  display: none!important;
}

.p-info p{
  background-color: #F9A8264D;
  color: #F9A826;
  padding: 5px 10px;
  border-radius: 25px;
  border: 2px solid #F9A826;
  font-family: 'Rubik';
  display: flex;
  align-items: center;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {

  body{
    height: 100%;
    background-color: #FFFF;
  }

  .logo{
    border-radius: 50%;
    height: 60vw!important;
    width: 60vw!important;
    transform: scale(1.5);
  }

  .info-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    height: 70%;
  }

  .proyect-card{
    width: 100%;
    cursor: pointer;
    margin-bottom: .5rem;
  }

  .decoration{
    visibility: hidden;
  }
  
  .proyect-btn-cont small{
    color: #d08c1e;
  }

  .proyect-btn{
    width: 50px;
    height: 50px;
  }

  .proyect-btn:hover{
    background-color: #d08c1e;
    border-width: 2px;
    border-radius: 25px;
    border-color: #d08c1e;
    color: #FFF;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .proyect-btn:hover svg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
    color: #FFF;
  }

  .absolute{
    display: flex;
    position: absolute;
  }

  .info-cont{
    padding-right: 0px;
  }
  
  .info-cont p{
    font-size: 4vw;
    /* font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
  }

  .image{
    height: 100%;
  }

  image img{
    aspect-ratio: 1/1;
    width: auto;
  }

  .social-cont{
    width: 90%;
    border-radius: 10px;
    background-color: #ffff;
    margin-bottom: 3%;
    padding: 10px;
  }

  .contact-title{
    font-weight: 700;
    letter-spacing: 1px;
    width: 100vw;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .contact-text-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-text-cont p {
    font-size: 4vw;
    padding: 2%;
    text-align: center;
  }

  .max-height{
    height: 100%;
  }

  .contact-btn{
    background-color: #212529;
    border-width: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
    border-color: #FFFF;
    color: #FFFF;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    width: 80%;
    height: fit-content;
  }

  .contact-btn:hover{
    background-color: #000;
    border-width: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
    border-color: #FFFF;
    color: #FFFF;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    width: 80%;
    height: fit-content;
  }

  .title{
    padding-bottom: 10px;
  }

  .legend p {
    color: gray;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .list-item{
    font-size: 1.2rem;
  }

  .slider{
    width: 100%;
  }

  .slider-items img{
    width: 100%;
  }

  .responsive-cont{
    display: flex;
    flex-direction: row;
    height: fit-content;
  }

  .fit-content{
    height: fit-content;
  }

  .clip{
    height:inherit;

  }

  .image-slider{
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: auto;
    transform: none;
  }

  .proyect-btn-cont{
    width: auto;
    flex-direction: column;
  }

  .cv-btn-cont{
    display: none;
  }

  .cv-btn-mobile{
    background-color: #F9A826;
  }

  .cv-btn-cont-mobile{
    display: flex!important;
  }
  
  .slider-cont{
    padding-bottom: 0!important;
  }
  
  .greeting-text h1{
    font-size: 10vw!important;
  }

  .greeting-text h6{
    font-size: 5vw!important;
    color: snow;
  }

  .p-info{
    width: 50%;
  } 

  .skill-mobile{
    min-height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .skill-mobile-cont-1{
    position: relative;
    width: 55%;
  }

  .skill-title{
    background-color: #F9A8264D;
    border-radius: 25px;
    height: 40px;
    border: 2px solid #F9A826;
    display: flex;
    align-items: center;
    padding: 10px 25px 10px 10px;
    width: 215px;
    justify-content: space-between;
    margin-bottom: 5%;
    position: absolute;
    top: 20px;
  }
  
  .skill-title h6{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Rubik';
    color: #F9A826;
  }

  .card-icon{
    background-color: #F9A826;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .card-icon img{
    filter: invert(1);
    transform: scale(.9);
  }

  .rubik{
    font-family: 'Rubik';
  }

  .skill-mobile-cont-1 img{
    transform: scale(1.5);
  }

  .skill-mobile-cont-2{
    width: 45%;
    padding: 0;
    margin-top: 50px;
  }

  .logo{
    position: relative;
    transform: scale(1.8);
  }

  .logo svg{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 30px;
    transform: scale(1.5);
    opacity: .7;
    z-index: 10;
  }

  .blob2{
    opacity: .6;
    z-index: 100;
  }

  .blob3{
    opacity: .2;
  }

  /* ================== */
  
/*   .side{
    width: 80%;
    height: 65%;
    border-top-left-radius: 65%;
    border-bottom-left-radius: 65%;
    padding-left: 35%;
    padding-right: 0px;
  }

  
  
  .slider{
    height: 100%;
    width: 80%;
    border-radius: 20px;
    box-sizing: content-box;
  }
  
  .slider img {
    border-radius: 20px;
    height: 100%;
  }
  
  .slider div {
    border-radius: 20px;
    width: 100%;
  }
  
  .slider-items{
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .min{
    min-height: 100%;
  }
  
  .social-btn{
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  
  .box{
    box-sizing: border-box;
  } */
}

@media screen and (max-width: 400px) {
  /* .contact-btn{
    margin-top: .2vh;
    margin-bottom: 1vh;
  } */

  .contact{
    height: 70%;
  }

  .legend{
    padding-top: 5%;
    height: 35%!important;
  }

  .legend p{
    padding-bottom: 10px;
  }
}